/* General options */
html{
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
    margin: 0;
    color: #fff;
    background-color: #a7a7a7;
    font: 400 16px/32px 'IBM Plex Sans', sans-serif;
}
img{ border-style: none; }
p {margin: 0;}
a{
    color: inherit;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
a:hover{
    color: #555;
    text-decoration: none;
}
input,
textarea,
select{
    color: #ccc;
    vertical-align: middle;
    font: 100% 'IBM Plex Sans', sans-serif;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
    transition: all ease .3s;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner{
    border: none;
    padding: 0;
}
.form-control{
    -webkit-appearance: none;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
form,fieldset{
    margin: 0;
    padding: 0;
    border-style: none;
}
blockquote,
q{quotes: none;}
q:before,
q:after {content: '';}

::-moz-placeholder,
:-moz-placeholder{opacity: 1;}
::-moz-placeholder{color: #333;}
:-ms-input-placeholder{color: #333;}
::-webkit-input-placeholder{color: #333;}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus{outline: none;}
input[type="search"] {
    -webkit-appearance: textfield;
}
*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.wrapper{
    overflow: hidden;
    position: relative;
    width: 800px;
    background-color: #bfbfbf;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}
h1{
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    color: #222;
    text-align: center;
    margin: 0;
}
h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin: 0 0 20px;
}

input{
    display: inline-block;
    vertical-align: top;
    max-width: 190px;
    width: 100%;
    height: 32px;
    padding: 4px 8px;
    margin: 0;
    border: 1px solid #a7a7a7;
    font-size: 16px;
    line-height: 20px;
    color: #0d3349;
    font-weight: normal;
    transition: all .3s;
    border-radius: 4px;
}
input:focus{
    border-color: #666;
}

[data-update-phone-block]{
    display: inline-block;
    vertical-align: top;
}
ul li{
    display: block;
}
ul li:before{
    display: inline-block;
    vertical-align: top;
    color: #808080;
    margin-right: 4px;
}
ul li[data-user-name]:before{
    content:"Name: ";
}
ul li[data-user-surname]:before{
    content:"Surname: ";
}
ul li[data-user-patronymic]:before{
    content:"User patronymic: ";
}
ul li[data-user-created-at]:before{
    content:"User created at: ";
}
.button {
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    height: 32px;
    background-color: #e7e7e7;
    color: black;
    margin-right: 5px;
    transition: all .3s;
    border-radius: 4px;
}
.button:hover{
    background-color: #a5a5a5;
}
[data-update-user]{
    background-color: #72cbff;
}
[data-update-user]:hover{
    background-color: #72cbff;
    opacity: 0.85;
}
[data-delete-user]{
    background-color: #ff7272;
}
[data-delete-user]:hover{
    background-color: #ff7272;
    opacity: 0.85;
}
.phone-trigg{
    background-color: #91de4c;
}
.phone-trigg:hover{
    background-color: #91de4c;
    opacity: 0.85;
}
.button.phone{
    padding: 0px 10px;
    margin-left: 10px;
    float: right;
}
.phone-wrapper li {
    margin-top: 10px;
    margin-bottom: 10px;
}
.user-container{
    margin-bottom: 30px;
}
.buttons{
    margin-top: 5px;
}
[data-phone]:before{
    content:"Phone: ";
    color: grey;
}

.disabled {
    display: none;
}
.phone-wrapper{
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 15px 10px 20px;
    margin-top: 15px;
    box-shadow: -3px 3px 3px rgba(111, 111, 111, 0.3);
}
.phone-wrapper .add-new-phone{
    margin: 16px 0;
}
[data-user-created-at]{
    font-size: 12px;
    margin-top: 15px;
}
.add-new-phone {
    margin: 16px 0 16px 102px;
    min-width: 190px;
}
[data-delete-phone] {
    background-color: #ff7272;
}
[data-delete-phone]:hover {
    background-color: #ff6464;
}
.update {
    margin: 10px 0;
}
.update > div + div{
    margin-top: 5px;
}
.update > div span{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    min-width: 92px;
}
.update input{
    color: #0d3349;
}
[data-update-phone-block] span{
    display: inline-block;
    vertical-align: top;
}
[data-update-phone-block] input{
    height: 20px;
    display: inline-block;
    vertical-align: top;
    color: #0d3349;
}
[data-update-phone-block]{
    margin-left: 20px;
}
[data-update-phone-block] span{
    margin-right: 10px;
}
[data-add-phone-new-input]{
    color: #0d3349;
}
[data-add-phone-new-submit]{
    margin-left: 15px;
}
[data-add-new-user-button]{
    display: block;
    margin: 0 0 70px;
}
#ajaxSpinnerContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(11, 60, 86, 0.67);
}
#ajaxSpinnerContainer img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.phone-creating {
    margin: 20px 0;
}
.phone-creating [new-phones-data]:before{
    content: "Phone:";
    display: inline-block;
    vertical-align: top;
    color: #fff;
    margin-right: 10px;
    min-width: 92px;
}
[data-block-for-new-user] {
    margin-bottom: 15px;
}
[data-create-phone-new-input] {

    margin-right: 25px;
}
[data-delete-phone-on-new-user] {
    margin-left:20px;
    cursor: pointer;
    color: red;
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    height: 32px;
    background-color: #fff;
    margin-right: 5px;
    transition: all .3s;
    border-radius: 4px;

}
[data-create-record-block]{
    margin-bottom: 50px;
}
[new-user-sub-btn] {
    height: 50px;
    width: 200px;
    background-color: cadetblue;
    margin: 0 auto;
    display: block;
}
[new-user-sub-btn]:hover {
    background-color: #54c4c7;
}

.popup-errors{
    position: fixed;
    top: 0;
    right: 10px;
    width: 240px;
    height: auto;
    padding: 10px 25px 10px 10px;
    background: #cf4f4f;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-weight: 400;
}
.popup-errors ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.popup-errors ul li{
    display: block;
}
.popup-errors ul li + li{
    margin-top: 5px;
}
.popup-errors h3{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px;
}
.popup-errors .close{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 0;
    line-height: 0;
    border: 0;
    background: none;
    outline: none;
    height: 12px;
    width: 12px;
    cursor: pointer;
}
.popup-errors .close:before,
.popup-errors .close:after{
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 2px;
    background: #fff;
}
.popup-errors .close:before{
    transform: translate(0, -50%) rotate(135deg);
}
.popup-errors .close:after{
    transform: translate(0, -50%) rotate(-135deg);
}